.App {
  text-align: center;
  background-color: lightgrey;
  width: 100vw;
  height: 790px;
}

.App > div {
  position: relative;
  width: 30vw;
  min-width: 375px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  overflow-y: scroll;
}

.todoNum {
  display: flex;
  padding: 10px 24px;
  font-weight: 700;
}
